<!DOCTYPE html>
<html>
    <head>
        <link href="/assets/stylesheets.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <%- include('partials/nav') -%>
        <h1>Hi <%= adminName %> </h1>
        <h2>Hobbies</h2>
        <ul>
            <% data.hobbies.forEach((item) => { %>
                <li><%= item %></li>
           <%  }); %>
        </ul>
        <p></p>
    </body>
</html>