<!DOCTYPE html>
<html>
    <head>
        <link href="/assets/stylesheets.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>PIZZAS OF THE WORLD</h1>
        <h2>Thank you for joining our team!</h2>
        <h5>Here is the summary of your application form</h5>    
        <p>Full Name: <strong><%= data.Name %></strong></p> 
        <p>Age: <strong><%= data.Age %></strong></p> 
        <p>Full Name: <strong><%= data.Email %></strong></p>      
    </body>
</html>